#page {
  width: 100%;
  height: 100%;
}

.resume-right {
  width: 750px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 0px;
}

.resume-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  background: #fc0303;
}

}
#resume-main {
  margin-left: 225px;
  background-color: #03b1fc;
}

#page-introduction {

}

.resume-portion {

}

.main {
  float: left;
  width: 60%;
  margin: 0 5%;
}

.extras {
  float: left;
  width: 25%;
  margin: 0 5% 0 0;
}

.footer {
  clear: left;
}

.one-col {
  float: left;
  width: 85%;
  margin: 0 5% 0 0;
}

.page2 {

}


.page3 {

}

h1, h2, p {
  text-align: center;
}

.centered-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

