.page {
  width: 100%;
  height: 100%;
  background: #035efc;
}

.wrapper {
  width: 1000px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 0px;
}

.resume-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  background: #fc0303;
}

}
#resume-main {
  margin-left: 600px;
  background-color: #03b1fc;
}

#page-introduction {

}

.resume-portion {

}

.main {
  float: left;
  width: 60%;
  margin: 0 5% 0 0;
  display: block;
  background-color: white ;
  align-content: center;
}

.main p {
  text-align: center;
}

.extras {
  float: left;
  width: 35%;
  margin: 0 5% 0 0;
  display: block;
  align-content: center;
}

.extras p {
  text-align: center;
}

.footer {
  clear: left;
  padding: 5px;
}

.one-col {
  margin: auto;
  float: left;
  width: 90%;
  padding: 5px;
  align-content: center;
}

.one-col p {
  text-align: center;
  background-color: white;
}

.one-col h1 {
  text-align: center;
  background-color: white;
}

.one-col h2 {
  text-align: center;
  background-color: white;
}
}
.page2 {

}


.page3 {

}

h1, h2 {
  text-align: center;
}

.centered-image {
  display: block;
  align-content: center;
}

div {
  align-content: center;
}
